body {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  background-color: whitesmoke;
}
h1 {
  font-weight: bold;
}
.navbar {
  text-align: right;
  margin-top: 50px;
  margin-right: 80px;
}
.navbar a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 22px;
  padding: 20px 10px;
}

.RDN {
  color: blueviolet;
}
p {
  font-size: 20px;
}
.Upper-Part {
  height: 500px;
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.Upper-Part img {
  width: 500px;
  padding-top: 5%;
}
.quote {
  height: 50px;

  font-weight: 300;
  font-size: 24px;
  font-style: italic;
  text-align: right;
}
h3 {
  font-weight: 450px;
}
.about {
  border: 3px solid black;
  border-collapse: collapse;
}
.about td {
  text-align: left;
}
.Middle-Part {
  height: 500px;
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.Middle-Part h3 {
  padding-top: 80px;
}
.Middle-Part p {
  margin-top: 30px;
}
.Middle-Part img {
  width: 430px;
}
.Exp {
  height: 1200px;
  width: 1200px;
}
#LWP {
  text-align: center;
  margin-top: 400px;
  margin-left: 170px;
  height: 650px;
  font-weight: bolder;
}
#L {
  color: blueviolet;
}
#Li {
  color: blueviolet;
}

.Lower1 {
  margin-left: 150px;
  height: 550px;
}

.Lower-Part1 {
  height: 420px;
  width: 300px;
  float: left;
  margin-left: 10px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 8px;
}
.Lower-Part1 img {
  width: 95px;
  margin-left: 87px;
  margin-top: 15px;
}
.Lower-Part1 h3 {
  margin-left: 10px;
  font-weight: 15px;
}
.Lower-Part1 ul {
  margin-left: 13px;
  font-size: 18px;
}

.Lower-Part2 {
  height: 420px;
  width: 300px;
  float: left;
  margin-left: 70px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 8px;
}
.Lower-Part2 img {
  width: 110px;
  margin-left: 85px;
  margin-top: 15px;
}
.Lower-Part2 h3 {
  margin-left: 10px;
  font-weight: bolder;
}
.Lower-Part2 ul {
  margin-left: 13px;
  font-size: 18px;
}

.Lower-Part3 {
  height: 420px;
  width: 300px;
  float: left;
  margin-left: 70px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 8px;
}
.Lower-Part3 img {
  width: 105px;
  margin-left: 85px;
  margin-top: 15px;
}
.Lower-Part3 h3 {
  margin-left: 10px;
  font-weight: bolder;
}
.Lower-Part3 ul {
  margin-left: 13px;
  font-size: 18px;
}
.links{
  display: flex;
  justify-content: center;
  margin-left: -150px;
  
}

#LWPLinks {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 150px;
  
}
.Lower2 {
  margin-left: 140px;
  height: 100px;
  position: absolute;
  top: 1800px;
}

.Lower-Links1 {
  height: 200px;
  width: 300px;
  float: left;
  margin-left: 10px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 8px;
}
.Lower-Links1 img {
  width: 110px;
  margin-left: 95px;
  margin-top: 15px;
}
.Lower-Links1 h3 {
  text-align: center;
  margin-left: -3px;

  padding-bottom: 20px;
  font-weight: 15px;
}
.links h3 a {
  text-decoration: none;
}
.Lower-Links2 {
  height: 200px;
  width: 300px;
  float: left;
  margin-left: 70px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 8px;
}
.Lower-Links2 img {
  width: 100px;
  margin-left: 100px;
  margin-top: 15px;
}
.Lower-Links2 h3 {
  text-align: center;
  margin-left: 5px;
  font-weight: bolder;
}
.Lower-Links3 {
  height: 200px;
  width: 300px;
  float: left;
  margin-left: 70px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 8px;
}
.Lower-Links3 img {
  width: 190px;
  margin-left: 60px;
  margin-top: 15px;
}
.Lower-Links3 h3 {
  text-align: center;
  margin-left: 5px;
  font-weight: bolder;
}
.foot {
  height: 300px;
  width: 600px;

  position: absolute;
  top: 2100px;
  right: 380px;
}
.foot h1 {
  text-align: center;
}
.foot h3 {
  text-align: center;
}
.tab {
   
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  width: auto;
}
th,
td {
  border: 3px solid black;
  padding: 5px;
  border-spacing: 10px;
  text-align: center;
}
.script {
  text-align: left;
  font-size: 12px;
  margin-left: -350px;
}
